* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    background-color: #FFFACD;
    color:rare;
    text-align: center;
    padding: 15px 0;
}

header nav a {
    color: red;
    margin: 10px;
    text-decoration: none;
    font-size: 14px;
}

section {
    padding: 30px;
    text-align: center;
}

.about img {
    width: 150px;
    border-radius: 50%;
    margin: 10px 0;
}

.skills table {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
}

.skills th, .skills td {
    border: 1px solid #333;
    padding: 10px;
}

.skills th {
    background-color: #FFFACD;
    color: red;
}

.project-box {
    width: 60%;
    margin: 15px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.contact form {
    width: 50%;
    margin: auto;
    text-align: left;
}

.contact form input, .contact form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #333;
}

.contact form button {
    width: 100%;
    padding: 10px;
    background-color: #FFFACD;
    color: rare;
    border: none;
}
}
